$color_1: #475467;
$color_2: #667085;
$color_3: #FFFFFF;
$color_4: #344054;
$color_5: #014384;
$color_6: #F79009;
$color_7: #1D2939;
$color_8: #FFFCF5;
$font-family_1: 'Inter';

.page {
	position: relative;
	width: 100%;
	min-width: fit-content;
	height: 100%;
	background: #F9FAFB;
}
.head {
	padding: 100px;
	width: inherit;
	min-width: fit-content;
	height: 570px;
	left: 0px;
	top: 0px;
	background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 25%, rgba(247, 247, 247, 0) 50%, rgba(101, 112, 132, 0) 75%, rgba(89, 89, 89, 0.03) 100%);
	background-blend-mode: multiply;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px;
}
.head-all-txt {
	display: flex;
	flex-direction: column;
	gap: 35px;
}
.header-txt {
	width: 267px;
	height: 88px;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: -0.02em;
	color: $color_1;
}
.head-txt {
	width: 465px;
	height: 84px;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: $color_2;
}
.head-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px;
	gap: 30px;
	width: 240px;
	height: 68px;
	background: linear-gradient(90deg, #475467 0%, #667085 100%);
	box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
	border-radius: 5px;
}
.btn-txt {
	width: 100px;
	height: 28px;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: $color_3;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.head-sub-txt {
	width: 617px;
	height: 28px;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: $color_4;
}
.head-img {
	width: 574px;
	min-width: 300px;
	height: 454px;
	position: relative;
	left: 100px;
}
.content {
	width: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	align-content: center;
	gap: 170px;
	padding-top: 100px;
}
.cont-headtxt {
	width: 943px;
	height: 144px;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 72px;
	text-align: center;
	letter-spacing: -0.02em;
	color: $color_1;
	order: 0;
}
.content-grid {
	margin-top: 2rem;
	margin-bottom: 2rem;
	align-self: center;
	display: flex;
	flex-direction: column;
	gap: 50px;
	min-width: fit-content;
	height: 895px;
	order: 1;
}
.content-row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 50px;
	width: 1280px;
	height: 285px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
}
.cont-card {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 20px;
	gap: 15px;
	width: 393.33px;
	height: 285px;
	background: #FFFFFF;
	border: 1px solid #EAECF0;
	box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
	border-radius: 10px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
}
.card-logo {
	width: 82px;
	height: 71px;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.card-headtxt {
	width: 150px;
	height: 28px;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: $color_5;
}
.card-subtxt {
	width: 353.33px;
	height: 60px;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: $color_1;
	flex: none;
	order: 2;
	align-self: stretch;
	flex-grow: 0;
}
.cont-subheadtxt {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	gap: 18px;
	width: 709px;
	height: 162px;
	order: 2;
}
.cont-subheadtxt-ln1 {
	margin-bottom: 0;
	width: 709px;
	height: 72px;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 72px;
	letter-spacing: -0.02em;
	color: $color_2;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.cont-subheadtxt-ln2 {
	margin-top: 0;
	width: 631px;
	height: 72px;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 72px;
	letter-spacing: -0.02em;
	color: $color_6;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.cont-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 200px;
	width: 698px;
	height: 38px;
	order: 3;
}
.cont-nav-txt {
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 38px;
	color: $color_7;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.mid-overlay {
	position: relative;
	width: 1285px;
	height: 539px;
	top: -65px;
	align-self: center;
	background: #293056;
	border-radius: 10px;
}
.mo-header {
	position: absolute;
	width: 191px;
	height: 28px;
	left: 112px;
	top: 96px;
}
.mo-title {
	position: absolute;
	width: 517px;
	height: 44px;
	left: 150px;
	top: 157px;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 44px;
	letter-spacing: -0.02em;
	color: $color_3;
}
.mo-desc {
	position: absolute;
	width: 572px;
	height: 216px;
	left: 145px;
	top: 240px;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	color: $color_3;
}
.mo-img {
	position: absolute;
	width: 500px;
	height: 336px;
	left: 740px;
	top: 129px;
	background: url(.png);
}
.eclipse1 {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 60px;
	top: 89px;
	background: #293056;
}
.sub-cont {
	width: inherit;
	position: relative;
	min-width: fit-content;
	height: 2841px;
	min-height: fit-content;
	background: $color_8;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	order: 4;
}
.sub-cont-grid {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 110px;
	width: inherit;
	min-width: fit-content;
}
.sub-cont-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 202px;
	align-content: center;
}
.ellipse {
	width: 40px;
	height: 40px;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.verline1 {
	position: relative;
	width: 2px;
	height: 698px;
	left: 77px;
	top: 1px;
}
.verline2 {
	position: relative;
	width: 2px;
	height: 498px;
	left: -283px;
	top: -2198px;
}
.verline3 {
	position: relative;
	width: 2px;
	height: 500px;
	left: -283px;
	top: -2160px;
}
.sub-cont-row-pnt {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 28px;
	width: 384px;
	height: 146px;
}
.horline {
	width: 33px;
	height: 2px;
	flex: none;
	order: 1;
	flex-grow: 0;
}
.sub-cont-row-txt {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 1px;
	width: 323px;
	height: 146px;
	flex: none;
	order: 2;
	flex-grow: 0;
}
.sub-cont-row-headtxt {
	width: 293px;
	height: 76px;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 38px;
	color: $color_4;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px;
}
.sub-cont-row-subtxt {
	width: 323px;
	height: 60px;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: $color_2;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px;
}
.sub-cont-row-img {
	width: 579px;
	height: 427px;
	background: url(image.png);
}
.sub-cont-row-pnt2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 28px;
	position: absolute;
	width: 384px;
	height: 166px;
	left: 330px;
	top: 1051px;
}
.Lline {
	width: 564px;
	height: 446px;
	position: relative;
	left: -283px;
	top: -2128px;
}
.ellipse2 {
	width: 40px;
	height: 40px;
	position: relative;
	left: 260px;
	top: -2135px;
}
.sub-cont-endtxt {
	width: 181px;
	height: 38px;
	padding-top: 130px;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 38px;
	color: $color_4;
}
.coding-img {
	position: relative;
	width: 1301px;
	height: 539px;
	background: url(image.png);
	top: 150px;
}
.clients {
	display: flex;
	flex-direction: column;
	align-items: center;
	order: 5;
	gap: 50px;
	margin-top: 100px;
}
.clients-head {
	width: 303px;
	height: 72px;
	font-family: $font-family_1;
	font-style: normal;
	font-weight: 400;
	font-size: 60px;
	line-height: 72px;
	letter-spacing: -0.02em;
	color: $color_1;
}
